* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    padding: 8px 12px;
    background-color: #FF6C0C;
    border: none;
    color: #4e3800;
    cursor: pointer;
}

button:hover {
    background-color: #ff6d0cc2;
}

.hidden {
    display: none;
}

.winner {
    background-color: #FF9D00;
}

.loser {
    background-color: #e74a4a;
}

.container {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFE08F;
    margin-top: 24px;
    padding: 8px 12px;
}

.board {
    height: 300px;
    width: 100%;
    border: 2px solid #060771;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
}

.hand-board {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.hand-board .computer-hand, 
.hand-board .human-hand {
  padding: 8px 12px;
  color: #4e3800;
  text-align: center;
}

